In [1]:
import mysql.connector
import pandas as pd
import concurrent.futures
files = []

In [2]:
def get_data():
    df = pd.read_excel('mtwire.xlsx')
    df = df[df['file_name'].str.startswith('G')]
    columns = ['file_name','revision_no','title','body','publish_date','date_string','images','news_type','master_id','job_id']
    df = df[columns]
    df['file_name'] = df['file_name'].apply(lambda x: x.replace('_0','').replace('_1','') if type(x)== str else x)
    return df

In [3]:
def get_files_list(df,f1_name,rev1_no):
    for d2 in df.iterrows():
        f2_name = d2[1][0]
        rev2_no = d2[1][1]
        if f1_name == f2_name and rev1_no != rev2_no:
            files.append(f2_name)
            print(f2_name)

In [4]:
def start():
    df = get_data()
    with concurrent.futures.ThreadPoolExecutor(max_workers=30) as link_executor:
        [link_executor.submit(get_files_list,df,d1[1][0],d1[1][1]) for d1 in df.iterrows()]

In [5]:
start()

G2078818
G2056867
G2065952
G2076449
G2058704
G2065769
G2056771

In [10]:
# df[df['file_name'].isin(files)]

,file_name,revision_no,title,body,publish_date,date_string,images,news_type,master_id,job_id
34,G2078818,1,"Koninklijke Vopak's Board Nominates New CFO, COO",Koninklijke Vopak (VPK.AS) said Friday that it...,NaN,2021-12-10 01:18:14,NaN,20,79729,2
81,G2056867,0,US Ends Enforcement Controls Against UBS Follo...,The US Federal Reserve Board said Oct. 1 it re...,NaN,2021-10-03 23:43:12,NaN,20,79513,2
168,G2065952,0,Activist Investor Cevian Capital Secures Secon...,Cevian Capital became Pearson's (PSON.L) secon...,NaN,2021-11-01 01:16:05,NaN,20,79795,2
63192,G2065952,1,Activist Investor Cevian Capital Secures Secon...,Cevian Capital became Pearson's (PSON.L) secon...,NaN,2021-11-01 01:16:15,NaN,20,79795,2
70489,G2078818,0,"Koninklijke Vopak's Board Nominates New CFO, COO",Koninklijke Vopak (VPK.AS) said Friday that it...,NaN,2021-12-10 01:18:01,NaN,20,79729,2
79323,G2056867,1,US Ends Enforcement Action Against UBS Followi...,The US Federal Reserve Board said Oct. 1 it re...,NaN,2021-10-03 23:44:20,NaN,20,79513,2