In [1]:
import pandas as pd
import json

In [8]:
df = pd.read_csv('Agrud Rentech Data Scraping - Trading daily @4pm.csv')
df[['source id','master id']].dropna()
df2 = df[['source id','master id']]
df2 = df2.iloc[0:]

In [9]:
df2

         source id  master id
0     US38141GYU20     138482
1     US902973BC96     138483
2     AU3AB0000085     135139
3     CA11286ZAA27     135143
4     HK0000104015     135144
...            ...        ...
1548  XS1405781342     140687
1549  KE5000008762     140697
1550  SGXF45929951     140705
1551  HK0000464617     140715
1552  HK0000515046     140716

[1553 rows x 2 columns]

In [10]:
data = dict(df2.values)

In [ ]:
data

In [ ]:
with open('Isin_to_masterid.json', 'w') as convert_file:
     convert_file.write(json.dumps(data))

In [8]:
import pandas as pd
import json

In [9]:
df3 = pd.read_excel('New Bond ISINs.xlsx',sheet_name='ISINs', engine='openpyxl',nrows=14)
df3 = df3[['ISIN','master Bond']]

In [10]:
data = dict(df3.values)

In [11]:
with open('new_Isin_to_masterid.json', 'w') as convert_file:
    convert_file.write(json.dumps(data))