In [1]:
import mysql.connector

In [7]:
try:
        db_conn = mysql.connector.connect(host='34.69.145.125',user='rentechuser',database = 'rentech_db',password='Agdj8ekee9u04IIid',auth_plugin='mysql_native_password')
        cursor = db_conn.cursor()
        sql = """SELECT `master_id`, `indicator_id`, `value_data`, `json_data`, `data_type`, `ts_date` FROM `raw_data_test_1` WHERE `job_id` = '9' AND `ts_date` = '2020-01-01';"""
        cursor.execute(sql)
        result = cursor.fetchall()
except Exception as e:
        print ("Mysql Error:",e)
finally:
        if(db_conn.is_connected()):
                cursor.close()
                db_conn.close()
                print("MySQL connection is closed")
len(result)

MySQL connection is closed

50045

In [8]:
try:
        db_conn = mysql.connector.connect(host='54.237.79.6',user='rentech_user',database = 'rentech_db',password='N)baegbgqeiheqfi3e9314jnEkekjb',auth_plugin='mysql_native_password')
        cursor = db_conn.cursor()
        sql = """INSERT INTO `raw_data` (`id`, `master_id`, `indicator_id`, `value_data`, `json_data`, `data_type`, `ts_date`, `ts_hour`, `job_id`, `timestamp`) VALUES 
        (NULL, %s, %s, %s, %s, %s, %s, '0:0:0', 9, NOW()) ON DUPLICATE KEY UPDATE  
        master_id = VALUES(master_id), indicator_id = VALUES(indicator_id), value_data = VALUES(value_data), json_data = VALUES(json_data),data_type = VALUES(data_type), ts_date = VALUES(ts_date) ,ts_hour = VALUES(ts_hour),
        job_id = VALUES(job_id), batch_id = VALUES(batch_id);"""
        cursor.executemany(sql, result)
        print (f"{cursor.rowcount} rows are inserted into db")
        db_conn.commit()
except Exception as e:
        print ("Mysql Error:",e)
finally:
        if(db_conn.is_connected()):
                cursor.close()
                db_conn.close()
                print("MySQL connection isZ closed")

48893 rows are inserted into db
MySQL connection isZ closed

In [6]:
len(result[0])

11